<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/styles/style.css"> <!-- Adjust the path as needed -->
    <title>RMS</title>
    <style>
        /* Additional styles can be added here if necessary */
    </style>
</head>

<body>

    <div class="container">
        <!-- Sidebar Section -->
        <aside>
            <div class="toggle">
                <h1>Orders</h1> <!-- Changed from </h2> to </h1> -->
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a href="../Dashboard/index.html">
                    <span class="material-icons-sharp">
                        dashboard
                    </span>
                    <h3>Dashboard</h3>
                </a>
                <a href="../stock/stock.html">
                    <span class="material-icons-sharp">
                        inventory
                    </span>
                    <h3>Stock</h3>
                </a>
                <a href="../users/users.html">
                    <span class="material-icons-sharp">
                        person
                    </span>
                    <h3>Users</h3>
                </a>
                <a href="../users/adduser.html">
                    <span class="material-icons-sharp">
                        add
                    </span>
                    <h3>New Users</h3>
                </a>
                <a href="../groups/group.html" class="active">
                    <span class="material-icons-sharp">group</span>
                    <h3>Groups</h3>
                </a>
                <a href="../Tables/tables.html">
                    <span class="material-icons-sharp">
                        table_restaurant
                    </span>
                    <h3>Tables</h3>
                </a>
                <a href="../categorys/category.html" class="active">
                    <span class="material-icons-sharp">
                        category
                    </span>
                    <h3>Category</h3>
                </a>
                <a href="../products/products.html">
                    <span class="material-icons-sharp">
                        inventory_2
                    </span>
                    <h3>Products</h3>
                </a>
                <a href="../products/addproduct.html">
                    <span class="material-icons-sharp">
                        add
                    </span>
                    <h3>New product</h3>
                </a>
                <a href="../Orders/orders.html">
                    <span class="material-icons-sharp">
                        list_alt
                    </span>
                    <h3>Orders</h3>
                    <span class="message-count">27</span>
                </a>
                <a href="../Orders/addorder.html">
                    <span class="material-icons-sharp">
                        add
                    </span>
                    <h3>New order</h3>
                </a>
                <a href="../Raports/report.html">
                    <span class="material-icons-sharp">
                        report_gmailerrorred
                    </span>
                    <h3>Reports</h3>
                </a>
                <a href="../Settings/settings.html">
                    <span class="material-icons-sharp">
                        settings
                    </span>
                    <h3>Settings</h3>
                </a>

                <a href="../../login.html">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        <!-- End of Sidebar Section -->

        <!-- Main Content -->
        <main>

            <!-- Analyses -->
            <div class="analyse">
                <div class="sales">
                    <div class="status">
                        <div class="info">
                            <h3>Total Earnings</h3>
                            <h1>$65,024</h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>+81%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sales">
                    <div class="status">
                        <div class="info">
                            <h3>Total Paid Orders</h3>
                            <h1>$65,024</h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>+81%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="visits">
                    <div class="status">
                        <div class="info">
                            <h3>Food Products</h3>
                            <h1>24,981</h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>-48%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="searches">
                    <div class="status">
                        <div class="info">
                            <h3>Food Category</h3>
                            <h1>14,147</h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>+21%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sales">
                    <div class="status">
                        <div class="info">
                            <h3>UnPaid Orders</h3>
                            <h1>10,567</h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>+12%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sales">
                    <div class="status">
                        <div class="info">
                            <h3>Total Orders</h3>
                            <h1>38,254</h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>+45%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- End of Analyses -->

            <!-- New Users Section -->
            <div class="new-users">
                <h2>Users</h2>
                <div class="user-list">
                    <!-- Users will be dynamically inserted here -->
                    <div class="user">
                        <a href="../users/adduser.html">
                            <img src="../../images/plus.png" alt="Add more users">
                        </a>
                        <h2>More</h2>
                        <p>New User</p>
                    </div>
                </div>
            </div>
            <!-- End of New Users Section -->
            
            <!-- Recent Orders Table -->
            <div class="recent-orders">
                <h2>Recent Orders</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Table</th>
                            <th>Payment</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Orders will be dynamically inserted here -->
                    </tbody>
                </table>
                <a href="../Orders/orders.html">Show All</a>
            </div>
            <!-- End of Recent Orders -->

        </main>
        <!-- End of Main Content -->

        <!-- Right Section -->
        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
                </button>
                <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                </div>

                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>Kassimi</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="../../images/profile-1.jpg" alt="Admin profile picture">
                    </div>
                </div>

            </div>
            <!-- End of Nav -->

            <div class="user-profile">
                <div class="logo">
                    <img src="../../images/logo.png" alt="Company logo">
                    <h2>Favor Haven</h2>
                    <p>The Best for The Best</p>
                </div>
            </div>

            <div class="reminders">
                <div class="header">
                    <h2>Reminders</h2>
                    <span class="material-icons-sharp">
                        notifications_none
                    </span>
                </div>

                <div class="notification">
                    <div class="icon">
                        <span class="material-icons-sharp">
                            volume_up
                        </span>
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Workshop</h3>
                            <small class="text-muted">
                                08:00 AM - 12:00 PM
                            </small>
                        </div>
                        <span class="material-icons-sharp">
                            more_vert
                        </span>
                    </div>
                </div>

                <div class="notification deactive">
                    <div class="icon">
                        <span class="material-icons-sharp">
                            edit
                        </span>
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Workshop</h3>
                            <small class="text-muted">
                                08:00 AM - 12:00 PM
                            </small>
                        </div>
                        <span class="material-icons-sharp">
                            more_vert
                        </span>
                    </div>
                </div>

                <div class="notification add-reminder">
                    <div>
                        <span class="material-icons-sharp">
                            add
                        </span>
                        <h3>Add Reminder</h3>
                    </div>
                </div>

            </div>

        </div>
        <!-- End of Right Section -->

    </div> <!-- End of container -->

    <script type="text/javascript" src="/eel.js"></script>
    <script src="../../assets/scripts/dashboard.js"></script>

</body>

</html>
