<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/styles/style.css">
    <link rel="stylesheet" href="../../assets/styles/add_style.css">
    <script type="text/javascript" src="/eel.js"></script>
    <title>RMS</title>
</head>

<body>
    <div class="container">
        <!-- Sidebar Section -->
        <aside>
            <div class="toggle">
                <h1>Modify User</h1>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>
            <div class="sidebar">
                <a href="../Dashboard/index.html">
                    <span class="material-icons-sharp">
                        dashboard
                    </span>
                    <h3>Dashboard</h3>
                </a>
                <a href="../stock/stock.html">
                    <span class="material-icons-sharp">
                        inventory
                    </span>
                    <h3>Stock</h3>
                </a>
                <a href="../users/users.html">
                    <span class="material-icons-sharp" class="active">
                        person
                    </span>
                    <h3>Users</h3>
                </a>
                <a href="../users/adduser.html">
                    <span class="material-icons-sharp">
                        add
                    </span>
                    <h3>New Users</h3>
                </a>
                <a href="../groups/group.html">
                    <span class="material-icons-sharp">group</span>
                    <h3>Groups</h3>
                </a>
                <a href="../Tables/tables.html">
                    <span class="material-icons-sharp">
                        table_restaurant
                    </span>
                    <h3>Tables</h3>
                </a>
                <a href="../categorys/category.html" >
                    <span class="material-icons-sharp">
                        category
                    </span>
                    <h3>Category</h3>
                </a>
                <a href="../products/products.html">
                    <span class="material-icons-sharp">
                        inventory_2
                    </span>
                    <h3>Products</h3>
                </a>
                <a href="../products/addproduct.html" >
                    <span class="material-icons-sharp">
                        add
                    </span>
                    <h3>New product</h3>
                </a>
                <a href="../Orders/orders.html" id="orders-link" >
                    <span class="material-icons-sharp">
                        list_alt
                    </span>
                    <h3>Orders</h3>
                    <span class="message-count" id="order-count" style="display: none;"></span>
                </a>
                
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        updateOrderCount();
                    });
                
                    async function updateOrderCount() {
                        try {
                            const response = await eel.fetch_orders_status()();
                            console.log('Fetched orders:', response); 
                            const orderCount = response.length;
                
                            console.log('Order count:', orderCount);
                
                            const orderCountElement = document.getElementById('order-count');
                            
                            if (orderCount > 0) {
                                orderCountElement.textContent = orderCount;
                                orderCountElement.style.display = 'inline-block'; 
                            } else {
                                orderCountElement.style.display = 'none'; 
                            }
                        } catch (error) {
                            console.error('Error updating order count:', error);
                        }
                    }
                </script>               
                
                <a href="../Orders/addorder.html">
                    <span class="material-icons-sharp">
                        add
                    </span>
                    <h3>New order</h3>
                </a>
                <a href="../Raports/report.html">
                    <span class="material-icons-sharp">
                        report_gmailerrorred
                    </span>
                    <h3>Reports</h3>
                </a>
                <a href="../Settings/settings.html">
                    <span class="material-icons-sharp">
                        settings
                    </span>
                    <h3>Settings</h3>
                </a>

                <a href="../../login.html">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        <!-- End of Sidebar Section -->

        <!-- Main Content -->
        <main>
            <div class="form-container">
                <div class="form-left">
                    
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="confirm-password">Confirm Password</label>
                        <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm Password">
                    </div>
                    <div class="form-group">
                        <label for="first-name">First Name</label>
                        <input type="text" id="first-name" name="first-name" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <div class="radio-group">
                            <input type="radio" id="male" name="gender" value="male">
                            <label for="male">Male</label>
                            <input type="radio" id="female" name="gender" value="female">
                            <label for="female">Female</label>
                        </div>
                    </div>
                </div>
                <div class="form-right">
                    <div class="form-group">
                        <label for="last-name">Last Name</label>
                        <input type="text" id="last-name" name="last-name" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="tel" id="phone" name="phone" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <label for="bio">Bio</label>
                        <textarea id="bio" name="bio" placeholder="Bio"></textarea>
                    </div>
                    <div class="container">
                        <div class="form-group">
                            <label for="role">Group</label>
                            <select id="role" name="role" class="form-control">
                                
                            </select>
                        </div>
                    </div>
                <div class="button-container">
                    <button class="submit-btn" onclick="updateUser()">UPDATE</button>
                </div>
            </div>
        </main>
        <!-- End of Main Content -->

        <!-- Right Section -->
        <div class="right-section">
            <div class="nav">
                

                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>Kassimi</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="../../images/administrateur.png" alt="Admin profile picture">
                    </div>
                </div>

            </div>
            <!-- End of Nav -->

            <div class="user-profile">
                <div class="logo">
                    <img src="../../images/-1cbf38203acc415288c07dd08199e82e-1@2x.png" alt="Company logo">
                    <h2>Ease Dine</h2>
                    <p>The Best for The Best</p>
                </div>
            </div>

            <div class="reminders">
                <div class="header">
                    <h2>Reminders</h2>
                    <span class="material-icons-sharp">
                        notifications_none
                    </span>
                </div>

                <div class="notification">
                    <div class="icon">
                        <span class="material-icons-sharp">
                            volume_up
                        </span>
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Workshop</h3>
                            <small class="text-muted">
                                08:00 AM - 12:00 PM
                            </small>
                        </div>
                        <span class="material-icons-sharp">
                            more_vert
                        </span>
                    </div>
                </div>

                <div class="notification deactive">
                    <div class="icon">
                        <span class="material-icons-sharp">
                            edit
                        </span>
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Workshop</h3>
                            <small class="text-muted">
                                08:00 AM - 12:00 PM
                            </small>
                        </div>
                        <span class="material-icons-sharp">
                            more_vert
                        </span>
                    </div>
                </div>

                <div class="notification add-reminder">
                    <div>
                        <span class="material-icons-sharp">
                            add
                        </span>
                        <h3>Add Reminder</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Right Section -->

    </div>

    <!-- Load JavaScript at the end of the body -->
    <script src="../../assets/scripts/mod_user.js"></script>
</body>

</html>
